/* Global Variables */
:root {
  --main-secondary-color: #fff; /* Bright golden yellow for accents */
  --main-background-color: #bfbfbf; /* Soft, off-white for minimal glare */
  --main-primary-color: #b3b3b3; /* Bold, readable blue */
  --main-text-color: #1a1a1a; /* Near-black for strong contrast */
  --main-accent-color: #2d6a4f;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: var(--main-background-color);
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* html {
  height: 100%;
} */
img.logo {
  border-radius: 20px;
  /* margin: 5px auto; */
  width: 100px;
  transform: scale(0.55);
}

/* Nav Bar */
nav#top-nav-bar {
  background-color: var(--main-primary-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 60px;
}
.dropdown {
  display: none;
}

nav#top-nav-bar header {
  font-size: 2.7em;
  padding-left: 10px;
  color: var(--main-text-color);
  align-items: center;
  display: flex;
}
nav#top-nav-bar div.link-containers {
  padding-right: 10px;
  display: flex;
  align-items: center;
}

/* Main Links design */
nav div.link-containers a {
  margin-right: 20px;
  font-size: 1.4em;
  margin-right: 30px;
  text-decoration: none;
  color: var(--main-text-color);
  transition-duration: 0.3s;
}
nav div.link-containers a:hover {
  transform: scale(1.1);
  background-color: var(--main-accent-color);
  color: var(--main-secondary-color);
  transition-duration: 0.3s;
  border-radius: 10px;
  padding: 5px;
}
nav div.link-containers a:active {
  color: var(--main-secondary-color);
  transition-duration: 0.3s;
  text-decoration: none;
  background-color: var(--main-accent-color);
}
a#header-logo-refer-link {
  text-decoration: none;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}
a#header-logo-refer-link:hover {
  text-decoration: none;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}

/* /Nav Bar */

div#footer-logo img {
  transform: scale(0.5);
}
footer {
  margin-top: auto;
  background-color: var(--main-primary-color);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  justify-content: space-between;
  height: auto;
  margin-bottom: 0;
}

footer div:nth-child(1) a {
  margin-right: 20px;
  font-size: 1.4em;
  margin-right: 30px;
  text-decoration: none;
  color: var(--main-text-color);
  transition-duration: 0.3s;
}
footer div:nth-child(1) a:hover {
  background-color: var(--main-accent-color);
  color: var(--main-secondary-color);
  transition-duration: 0.3s;
  transform: scale(1.3);
  border-radius: 10px;
  padding: 5px;
}
footer div#footer-logo {
  align-items: center;
  display: flex;
}
footer div span {
  font-size: 1.1em;
  padding-right: 10px;
}
footer a:active {
  color: var(--main-text-color);
  transition-duration: 0.3s;
  text-decoration: none;
  background-color: var(--main-accent-color);
}
/* / Sticky - Footer */

main#main-content {
  padding-top: 60px;
  background-color: var(--main-background-color);
}

/* Welcome Section*/
main section#welcome-section {
  width: 100%;
  height: 35em;
  position: relative;
}
main section#welcome-section::before {
  content: "";
  background-image: url(/resources/main/Jeepney.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  inset: 0;
  opacity: 0.6;
}
main section#welcome-section h1 {
  text-align: center;
  font-size: 6em;
  font-weight: 900;
  color: var(--main-text-color);
  margin: 0;
  padding-top: 1.2em;
  isolation: isolate;
  font-family: "Noto Sans", sans-serif;
}
main section#welcome-section p {
  color: var(--main-text-color);
  font-size: 1.5em;
  text-align: center;
  isolation: isolate;
  font-family: "Noto Sans", sans-serif;
  padding-top: 15px;
}
main section#welcome-section button {
  color: var(--main-text-color);
  font-size: 1.5em;
  text-align: center;
  background-color: var(--main-secondary-color);
  border: none;
  margin: auto;
  display: block;
  padding: 1.3em 3em;
  isolation: isolate;
  transition-duration: 0.3s;
  border-radius: 10px;
}
main section#welcome-section button:hover {
  background-color: var(--main-accent-color);
  font-size: 1.5em;
  text-align: center;
  color: var(--main-secondary-color);
  border: none;
  margin: auto;
  display: block;
  transform: scale(1.1);
  transition-duration: 0.3s;
}
main section#welcome-section a {
  text-decoration: none;
}

/* /Welcome Section*/

/* Article Section*/
main section.article-section {
  background-color: #b3b3b3;
  width: 100%;
  height: 35em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 20px;
}
main section.article-section:nth-of-type(3) {
  background-color: #a6a6a6;
  width: 100%;
  height: 35em;
  padding: 0 20px;
}
main section.article-section img {
  width: 550px;
  height: 350px;
  border-radius: 15px;
  border: #2d6a4f 5px solid;
}
main section.article-section .article-content-text {
  color: var(--main-text-color);
  padding-right: 10px;
}
main section.article-section .article-content-text:nth-of-type(2) {
  color: var(--main-text-color);
  padding-left: 20px;
}

main section.article-section .article-content-text h2 {
  font-size: 3em;
  text-align: left;
}
main section.article-section .article-content-text p {
  font-size: 1.3em;
  text-align: justify;
}

main section.article-section button,
.calculate-button {
  color: var(--main-text-color);
  font-size: 1.3em;
  background-color: var(--main-secondary-color);
  border: none;
  display: block;
  padding: 1em 3em;
  transition-duration: 0.3s;
  margin-top: 30px;
  border-radius: 10px;
}
main section.article-section button:hover,
.calculate-button:hover {
  background-color: var(--main-accent-color);
  font-size: 1.3em;
  color: var(--main-secondary-color);
  border: none;
  display: block;
  transform: scale(1.1);
  transition-duration: 0.3s;
}
main section.article-section a {
  text-decoration: none;
}

/* /Article Section*/

/* Responsiveness*/
@media screen and (max-width: 1040px) {
  main section#welcome-section h1 {
    font-size: 5em;
    padding-top: 1em;
  }
  main section#welcome-section p {
    font-size: 1.4em;
  }
  main section.article-section img {
    width: 500px;
    height: 300px;
  }
  main section.article-section .article-content-text p {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 800px) {
  main section.article-section button {
    margin: auto;
  }
  main section.article-section {
    width: 100%;
    height: 40em;
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 30px;
  }
  main section.article-section:nth-of-type(3) {
    width: 100%;
    height: 40em;
    padding: 40px;
  }

  footer div.link-containers {
    display: flex;
    flex-direction: column;
  }
  footer div a {
    padding-bottom: 20px;
    font-size: 1.2em;
  }
  footer {
    height: 20em;
  }
  footer div#footer-logo img {
    width: 110px;
  }
  footer div:nth-child(1) a:hover {
    background-color: var(--main-text-color);
    color: var(--main-secondary-color);
    transition-duration: 0.3s;
    transform: scale(1.05);
    border-radius: 10px;
    padding: 5px;
  }
}
@media screen and (max-width: 710px) {
  div#nav-links-responsive a {
    display: none;
  }
  .dropdown {
    display: block;
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    margin-right: 20px;
  }
  .dropdown a#btn-secondary {
    background-color: #404040;
  }
  .dropdown a {
    font-size: 1.2em;
  }

  main section.article-section img {
    width: 350px;
    height: 250px;
  }
  main section#welcome-section h1 {
    font-size: 3.5em;
    padding-top: 2em;
  }
  main section#welcome-section p {
    font-size: 1.2em;
  }
  main section.article-section .article-content-text h2 {
    font-size: 2.8em;
    margin: 0;
  }
  footer div.footer-container a {
    font-size: 20px;
  }
  main section#welcome-section button {
    font-size: 1.3em;
    padding: 1.1em 2.5em;
  }
  main section#welcome-section button:hover {
    font-size: 1.4em;
    padding: 1.1em 2.5em;
  }
}
@media screen and (max-width: 530px) {
  main section#welcome-section h1 {
    font-size: 3.3em;
    padding-top: 2em;
  }
  main section#welcome-section p {
    font-size: 1em;
  }
  main section.article-section .article-content-text p {
    font-size: 1.1em;
    text-align: left;
    padding-top: 20px;
  }
  main section.article-section .article-content-text h2 {
    font-size: 2.5em;
    margin: 0;
  }
  main section.article-section img {
    width: 300px;
    height: 200px;
  }
  header a span {
    display: none;
  }
  main section.article-section {
    height: auto;
  }
  main section.article-section:nth-of-type(3) {
    height: auto;
  }
}
/* /Responsiveness*/

/*  */
/*  */

/* ABOUT PAGE STYLE */
section.article-about {
  width: 100%;
  min-height: 20em;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 20px;
}
section.article-about:nth-of-type(1) {
  background-color: #a6a6a6;
}
section.article-about:nth-of-type(2) {
  background-color: #999;
}
section.article-about:nth-of-type(3) {
  background-color: #8c8c8c;
}
section.article-about:nth-of-type(4) {
  background-color: #808080;
}
section.article-about p {
  color: var(--main-text-color);
  text-align: justify;
}
section.article-about h2 {
  font-size: 2.5em;
  color: var(--main-text-color);
}

section.article-about p {
  font-size: 1.2em;
}
@media screen and (max-width: 1040px) {
  section.article-about h2 {
    font-size: 3em;
  }
  section.article-about p#history {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 800px) {
  section.article-about h2 {
    font-size: 2.5em;
  }
  section.article-about p#history {
    font-size: 1.1em;
    margin-top: -10px;
  }
}
@media screen and (max-width: 710px) {
  section.article-about h2 {
    font-size: 2.6em;
  }
  section.article-about p#history {
    font-size: 1em;
  }

  section.article-about p {
    font-size: 1.2em;
    text-align: left;
  }
}
@media screen and (max-width: 590px) {
  section.article-about p#history {
    font-size: 1em;
    margin-top: 20px;
  }
}
/* /ABOUT PAGE STYLE */

/* MORE PAGE STYLE */

ul#members-list li {
  color: var(--main-text-color);
  font-size: 1.2em;
  list-style-type: none;
}
/* /MORE PAGE STYLE */

/* CONTACT PAGE STYLE */
a.contact-links {
  color: var(--main-text-color);
  transition-duration: 0.3s;
}
a.contact-links:hover {
  background-color: var(--main-accent-color);
  color: var(--main-secondary-color);
  transition-duration: 0.3s;
  font-size: 1.1em;
  border-radius: 5px;
}
a.contact-links:active {
  color: var(--main-secondary-color);
  transition-duration: 0.3s;
  text-decoration: none;
  background-color: var(--main-accent-color);
}
section#section-map {
  display: block;
}
iframe {
  width: 40em;
  height: 20em;
  border-radius: 15px;
}
@media screen and (max-width: 710px) {
  iframe {
    width: 100%;
    height: 75%;
  }
}

/* calc */
.calculator-container {
  background-color: var(--main-background-color);
  width: 100%;
  min-height: 35em;
  height: auto;
  display: flex;
  padding: 20px;
}
.inner-container {
  background-color: #d9d9d9;
  color: var(--main-text-color);
  width: 75%;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #2d6a4f;
}
.inner-container h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
}
hr {
  padding: 0.2em;
}

form select {
  border-radius: 10px;
  width: 100%;
  height: 45px;
  margin-bottom: 20px;
  border: none;
}
label {
  font-size: 18px;
}
.calculate-button {
  margin: auto;
}

div span {
  color: #00b300;
}
p.fare-text-desc {
  padding-left: 10px;
  font-size: 1.5em;
}
div#explanation {
  background-color: #cccccc;
  padding: 30px;
  border-radius: 10px;
}
div#explanation h2 {
  text-align: center;
}
div#explanation ol {
  font-size: 1.1em;
  font-weight: 600;
}
div#explanation ol > li {
  margin-top: 1.2em;
}

div#explanation ul {
  list-style-type: disc;
}
div#result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div#rush-hour {
  background-color: #ffff1a;
  border-radius: 10px;
  width: 30%;
  margin: 10px;
  padding: 20px;
}
div#rush-hour h3 {
  font-size: 1.2em;
  font-weight: 600;
  text-align: left;
}
@media (max-width: 810px) {
  .inner-container {
    width: 85%;
  }
  section#fareDisplaySection {
    flex-direction: column;
    align-items: center;
  }

  .inner-container h1 {
    font-size: 2.1em;
  }
  p.fare-text-desc {
    font-size: 1.2em;
  }
  div#result-container {
    flex-direction: column;
    justify-content: baseline;
  }
  div#rush-hour {
    width: 70%;
    padding: 20px;
    margin: 20px auto;
  }
  div#rush-hour h3 {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
  }
}

/* For styling data output section */
