{%- for post in collections.homepage -%}
<!-- Footer-->
<!-- Links -->
<footer>
  <div class="link-containers footer-container">
    <a href="/">Home</a>
    <a href="/calculate">Calculate</a>
    <a href="/about">About</a>
    <a href="/more">More</a>
    <a href="#main-content"><i class="fa-solid fa-arrow-up"></i></a>
  </div>

  <!-- Logo -->
  <div id="footer-logo">
    <a href="/index.html" id="header-logo-refer-link">
      <img
        src="{{ post.data.website_logo }}"
        alt="IntellilFare-Logo"
        loading="lazy"
        id="footer-logo-clickable"
        class="logo"
      />
    </a>
  </div>
</footer>
<!-- / Footer-->
{%- endfor -%}
