<!-- Footer-->
<footer>
  <div class="link-containers footer-container">
    <a href="/">Home</a>
    <a href="/">Calculate</a>
    <a href="/about">About</a>
    <a href="/more">More</a>
    <a href="#main-content">Back to top</a>
  </div>
</footer>
<!-- / Footer-->
