<!-- Footer-->
<!-- Links -->
<footer>
  <div class="link-containers footer-container">
    <a href="/">Home</a>
    <a href="/">Calculate</a>
    <a href="/about">About</a>
    <a href="/">More</a>
    <a href="#main-content"><i class="fa-solid fa-arrow-up"></i></a>
  </div>

  <!-- Logo -->
  <div id="footer-logo">
    <a href="/index.html" id="header-logo-refer-link">
      <img
        src="/resources/main/IntellilFare-Logo.png"
        alt="IntellilFare-Logo"
        loading="lazy"
        id="footer-logo-clickable"
        class="logo"
      />
    </a>
  </div>
</footer>
<!-- / Footer-->
