<!-- Nav Bar-->
<nav id="top-nav-bar">
  <!-- Logo and Name section -->
  <header>
    <a href="/" id="header-logo-refer-link">
      <img
        src="/resources/main/IntellilFare-Logo.png"
        alt="IntellilFare-Logo"
        loading="lazy"
        class="logo"
      />
      <span>IntelliFare</span>
    </a>
  </header>

  <!-- Nagivational Links -->
  <div class="link-containers" id="nav-links-responsive">
    <a href="/">Home</a>
    <a href="/">Calculate</a>
    <a href="/">About</a>
    <a href="/">More</a>
  </div>

  <!-- Responsive Dropdown Links -->
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle custom-btn"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Menu
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/">Home</a></li>
      <li><a class="dropdown-item" href="/">Calculate</a></li>
      <li><a class="dropdown-item" href="/">About</a></li>
      <li><a class="dropdown-item" href="/">More</a></li>
    </ul>
  </div>
</nav>
