---
title: About | IntelliFare
layout: "base.njk"
import: "/contaner/command/about"
---

<!-- Main Content-->
<main id="main-content">
  <!-- first container-->
  {%- for post in collections.about -%}
  <section class="article-about" data-aos="fade-in">
    <div class="article-content-text">
      <h2>{{ post.data.first_article_name }}</h2>
      <p>
        {{ post.data.first_article_description }}
      </p>
    </div>
  </section>
  <!-- /first container-->

  <!-- second container-->
  <section class="article-about" data-aos="fade-in">
    <div class="article-content-text">
      <h2>{{ post.data.second_article_name }}</h2>
      <ul id="members-list">
        <li>{{ post.data.memberA }}</li>
        <li>{{ post.data.memberB }}</li>
        <li>{{ post.data.memberC }}</li>
        <li>{{ post.data.memberD }}</li>
        <li>{{ post.data.memberE }}</li>
        <li>{{ post.data.memberF }}</li>
        <li>{{ post.data.memberG }}</li>
      </ul>
    </div>
  </section>
  <!-- second container-->

  <!-- third container-->
  <section class="article-about" data-aos="fade-in">
  <div class="article-content-text">
    <h2>{{ post.data.third_article_name }}</h2>
    <p>
        {{ post.data.third_article_description }}
      </p>
    
    <p>
      <i class="fa-regular fa-envelope"></i>

      Email:
      <a href="mailto:{{ post.data.email_address }}" class="contact-links">{{
        post.data.email_address
      }}</a>
    </p>
    
    <p>
      <i class="fa-brands fa-github"></i>
      Github:
      <a href="{{ post.data.github_page_link }}" class="contact-links">{{
        post.data.github_page_name
      }}</a>
    </p>
    
  </div>
  </section>
  <!-- third container-->

  {%- endfor -%}
</main>
<!-- / Main Content-->
</main>
