---
title: Calculate | IntelliFare
layout: "base.njk"
import: "/contaner/command/calculate"
---

<!-- Main Content-->
<main id="main-content">
  {%- for post in collections.homepage -%}

  <section class="calculator-container" data-aos="fade-in">
    <div class="inner-container">
      <h1>Silangan Cubao (AFPHODA) Jeepney Line</h1>
      <hr />
      <form>
        <label for="startOption">Departure: </label>
        <select name="" id="startOption" onchange="setStartStation()">
          <option selected disabled>-- Choose a location --</option>
          <option value="0">AFP Housing</option>
          <option value="1">Sta. Barbara Villas 1</option>
          <option value="2">Buntong Palay (Purok Uno)</option>
          <option value="3">Buntong Palay (Purok Dos)</option>
          <option value="4">Riverside (Modesta)</option>
          <option value="5">Fortune</option>
          <option value="6">Boystown</option>
          <option value="7">Molave (Gen. Ordoñez)</option>
          <option value="8">Meralco</option>
          <option value="9">Conception</option>
          <option value="10">Paliparan</option>
          <option value="11">Bayan (Marikina)</option>
          <option value="12">Tañong (Marikina)</option>
          <option value="13">Riverbanks</option>
          <option value="14">Katipunan (LRT)</option>
          <option value="15">J.P. Rizal</option>
          <option value="16">Cubao (Aurora Blvd)</option>
        </select>
        <br />
        <br />
        <label for="endOption">Destination: </label>
        <select name="" id="endOption" onchange="setEndStation()">
          <option selected disabled>-- Choose a location --</option>
          <option value="0">AFP Housing</option>
          <option value="1">Sta. Barbara Villas 1</option>
          <option value="2">Buntong Palay (Purok Uno)</option>
          <option value="3">Buntong Palay (Purok Dos)</option>
          <option value="4">Riverside (Modesta)</option>
          <option value="5">Fortune</option>
          <option value="6">Boystown</option>
          <option value="7">Molave (Gen. Ordoñez)</option>
          <option value="8">Meralco</option>
          <option value="9">Conception</option>
          <option value="10">Paliparan</option>
          <option value="11">Bayan (Marikina)</option>
          <option value="12">Tañong (Marikina)</option>
          <option value="13">Riverbanks</option>
          <option value="14">Katipunan (LRT)</option>
          <option value="15">J.P. Rizal</option>
          <option value="16">Cubao (Aurora Blvd)</option>
        </select>

        <button
          type="button"
          onclick="calculate(startStation, endStation)"
          class="calculate-button"
        >
          Calculate
        </button>
      </form>
      <hr />

      <div id="fareDisplaySection">
        <div>
          <p class="fare-text-desc">
            Estimated Fare: <span id="text-fare">₱0</span>
          </p>
          <p class="fare-text-desc">
            Estimated Discounted fare: <span id="textDiscount">₱0</span>
          </p>
          <p class="fare-text-desc">
            Estimated Travel Time: <span id="travelTime">0 minute</span>
          </p>
        </div>
      </div>
    </div>

    <!-- Section for data results-->
  </section>

  {%- endfor -%}
</main>
<!-- / Main Content-->
