---
title: Calculate | IntelliFare
layout: "base.njk"
import: "/contaner/command/calculate/stops_data"
---

<!-- Main Content-->
<main id="main-content">
  <section class="calculator-container" data-aos="fade-in">
    <div class="inner-container">
      <h1>Silangan Cubao (AFPHODA) Jeepney Line</h1>
      <hr />
      <form>
        <label for="startOption">Departure: </label>
        <select name="" id="startOption" onchange="setStartStation()">
          <option selected disabled>-- Choose a location --</option>
          {%- for post in collections.post -%}
          <option value="0">{{ post.data.stop_name }}</option>
          {%- endfor -%}
        </select>
        <br />
        <br />
        <label for="endOption">Destination: </label>
        <select name="" id="endOption" onchange="setEndStation()">
          <option selected disabled>-- Choose a location --</option>
          {%- for post in collections.post -%}
          <option value="{{ post.data.distance_from_terminal }}">
            {{ post.data.stop_name }}
          </option>
          {%- endfor -%}
        </select>

        <button
          type="button"
          onclick="calculate(startStation, endStation)"
          class="calculate-button"
        >
          Calculate
        </button>
      </form>
      <hr />
      <div id="result-container">
        <div id="fareDisplaySection">
          <div>
            <p class="fare-text-desc">
              Distance: <span id="distance-info">0KM</span>
            </p>
            <p class="fare-text-desc">
              Estimated Fare: <span id="text-fare">₱0</span>
            </p>
            <p class="fare-text-desc">
              Estimated Discounted fare: <span id="textDiscount">₱0</span>
            </p>
            <p class="fare-text-desc">
              Estimated Travel Time: <span id="travelTime">0 Minute</span>
            </p>
          </div>
        </div>
        <div id="rush-hour">
          <h3>
            Due to the ongoing rush hour, rides may be harder to find, and fares
            might change
          </h3>
        </div>
      </div>

      <div id="explanation">
        <h2>How to calculate your Jeepney fare?</h2>
        <ol>
          <li>
            Know the Base Fare
            <ul>
              <li>
                Traditional Jeepneys – Usually ₱13.00 for the first 4 kilometers
              </li>
              <li>
                Modern Jeepneys – Usually ₱14.00 for the first 4 kilometers
              </li>
            </ul>
          </li>
          <li>
            Know the Base Fare
            <ul>
              <li>Traditional Jeepneys - ₱1.80 - ₱2.00 per kilometer</li>
              <li>Modern Jeepneys - ₱2.20 - ₱2.50 per kilometer</li>
            </ul>
          </li>
          <li>
            Check for Fare Discounts
            <ul>
              <li>Students, senior citizens, and PWDs get a 20% discount</li>
            </ul>
          </li>
          <li>
            Consider Special Cases
            <ul>
              <li>Late-night or special trips might have additional charges</li>
              <li>
                Always bring small bills/coins as drivers may not always have
                change
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <!-- Section for data results-->
  </section>
</main>
<!-- / Main Content-->
